# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/



# Folders
.idea/
hooks/
platforms/
plugins/
resources/
scss/

# Files
config.xml
ionic.project