<ion-view>
  <ion-content>
    <div>
      <a ui-sref="animal"><img src="../../img/qurbani.jpg" alt="QURBANI" class="services"/></a>
      <img src="../../img/istakhara.jpg" alt="INTIKHARA" class="services"/>
      <img src="../../img/dua.jpg" alt="DUA REQUEST" class="services"/>
      <img src="../../img/education.jpg" alt="MASS TRAINING" class="services"/>
      <a ui-sref="location"><img src="../../img/location.jpg" alt="NEAREST SAYLANI OFFICE" class="services"/></a>
      <img src="../../img/medical.jpg" alt="MEDICAL SERVICES" class="services"/>
      <img src="../../img/dars.jpg" alt="LIVE DARS" class="services"/>
      <img src="../../img/donate.jpg" alt="DONATE" class="services"/>
    </div>
  </ion-content>
</ion-view>
